body {
    background-color: black
}

.white-text {
    color: white;
    text-align: center;
    font-size: 30pt;
    font-family: Helvetica, Arial, sans-serif;
}

.omegalul {
    vertical-align: middle
}

.noselect {
    user-select: none
}